<img src="assets/crew/background-crew-desktop.jpg" alt="" class="img1">

<img src="assets/Group 2.jpg" alt="" class="img2">
 
 <hr>

 <div class="wrapper">
    <div>
        
        <p routerLink="/home">00 &nbsp;HOME</p>
        
    </div>
    <div>
       
        <p (click)="dest()">01 &nbsp;DESTINATION</p>
    </div>
    <div>
       
        <p >02 &nbsp;CREW</p>
    </div>
    <div>
       
        <p (click)="tech()">03 &nbsp;TECHNOLOGY</p>
    </div>
</div>
<hr class="hr2" #hr>

<p class="title">02 &nbsp;&nbsp; MEET YOUR CREW</p>
<div class="par">
    <p class="commander">COMMANDER</p>
    <P class="name">DOUGLAS HURLEY</P>
    <P class="text">Douglas Gerald Hurley is an American engineer, former<br> Marine Corps pilot and former NASA astronaut. He<br> launched into space for the third time as commander of<br> Crew Dragon Demo-2.</P>


</div>

<img src="assets/crew/image-douglas-hurley.png" alt="" class="pic">

<div class="par none">
    <p class="commander">MISSION SPACIALIST</p>
    <P class="name">MARK SHUTTLEWORTH</P>
    <P class="text">Mark Richard Shuttleworth is the founder and CEO of<br> Canonical, the company behind the Linux-based Ubuntu<br> operating system. Shuttleworth became the first South<br> African to travel to space as a space tourist.</P>


</div>


<img src="assets/crew/image-mark-shuttleworth.png" alt="" class="pic picnone" style="width:30%;margin-top:-31%">
<div class="par none">
    <p class="commander">PILOT</p>
    <P class="name">VICTOR GLOVER</P>
    <P class="text">Pilot on the first operational flight of the SpaceX Crew<br> Dragon to the International Space Station. Glover is a<br> commander in the U.S. Navy where he pilots an F/A-18.He<br> was a crew member of Expedition 64, and served as a<br> station systems flight engineer. </P>


</div>

<img src="assets/crew/image-victor-glover.png" alt="" class="pic picnone" style="margin-top: -28%;">

<div class="par none">
    <p class="commander">FLIGHT ENGINEER</p>
    <P class="name">ANOUSHEH ANSARI</P>
    <P class="text">Anousheh Ansari is an Iranian American engineer and <br> co-founder of Prodea Systems. Ansari was the fourth<br> self-funded space tourist, the first self-funded woman to<br> fly to the ISS, and the first Iranian in space. </P>


</div>
<img src="assets/crew/image-anousheh-ansari.png" alt="" class="pic picnone" style="margin-top: -25.5%; width: 37%;margin-left: 62%;">

<div class="wrapper2">
    <div class="active circle" (click)="member1()"></div>
    <div class="circle" (click)="member2()"></div>
    <div class="circle" (click)="member3()"></div>
    <div class="circle" (click)="member4()"></div>
</div>

 