<img src="assets/Bitmap1.jpg" alt="" class="img1">

<img src="assets/Group 2.jpg" alt="" class="img2">
 
 <hr>

 <div class="wrapper">
    <div>
        
        <p (click)="previous()" >00 &nbsp;HOME</p>
        
    </div>
    <div>
       
        <p >01 &nbsp;DESTINATION</p>
    </div>
    <div>
       
        <p (click)="crew()" >02 &nbsp;CREW</p>
    </div>
    <div>
       
        <p (click)="tech()">03 &nbsp;TECHNOLOGY</p>
    </div>
</div>
<hr class="hr2" id="hr2" #hr >

<p class="title">01 &nbsp;&nbsp; PICK YOUR DESTINATION</p>
<img src="assets/destination/mars.png" alt="" class="mars">
<img src="assets/mars.png" alt="" class="mars none1" >
<img src="assets/europa.png" alt="" class="mars none1" >
<img src="assets/titan.png" alt="" class="mars none1" >


<div class="wrapper2">
    <div class="child">
        <p class="active" (click)="moon()" >MOON</p>
        <p (click)="mars()">MARS</p>
        <p (click)="europa()">EUROPA</p>
        <p (click)="titan()">TITAN</p>
    </div>
   <div class="wrapper3" #div>
    <p class="moon">MOON</p>
    <p class="para">See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>
    <hr class="line">
    <p class="p1">AVG.DISTANCE</p>
    <p class="p2">EST. TRAVEL TIME</p>
    <p class="p3">384,400 KM</p>
    <P class="p4">3 DAYS</P>
   </div>  
   <div class="wrapper3 none">
    <p class="moon">MARS</p>
    <p class="para">Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!</p>
    <hr class="line">
    <p class="p1">AVG.DISTANCE</p>
    <p class="p2">EST. TRAVEL TIME</p>
    <p class="p3">225 MIL.KM</p>
    <P class="p4">9 MONTHS</P>
   </div> 
   <div class="wrapper3 none ">
    <p class="moon">EUROPA</p>
    <p class="para">The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.</p>
    <hr class="line">
    <p class="p1">AVG.DISTANCE</p>
    <p class="p2">EST. TRAVEL TIME</p>
    <p class="p3">628 MIL.KM</p>
    <P class="p4">3 YEARS</P>
   </div> 
   <div class="wrapper3 none ">
    <p class="moon">TITAN</p>
    <p class="para">The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.</p>
    <hr class="line">
    <p class="p1">AVG.DISTANCE</p>
    <p class="p2">EST. TRAVEL TIME</p>
    <p class="p3">1.6 BIL.KM</p>
    <P class="p4">7 YEARS</P>
   </div> 
</div>
 
