<img src="assets/technology/background-technology-desktop.jpg" alt="" class="img1">

<img src="assets/Group 2.jpg" alt="" class="img2">
 
 <hr>

 <div class="wrapper">
    <div>
        
        <p (click)="nav()" >00 &nbsp;HOME</p>
        
    </div>
    <div>
       
        <p (click)="nav1()">01 &nbsp;DESTINATION</p>
    </div>
    <div>
       
        <p (click)="nav2()">02 &nbsp;CREW</p>
    </div>
    <div>
       
        <p>03 &nbsp;TECHNOLOGY</p>
    </div>
</div>
<hr class="hr2" #hr>

<p class="title">03 &nbsp;&nbsp; SPACE LAUNCH 101</p>

<div class="wrapper2">
    <div class="active circle" (click)="first()">1</div>
    <div class="circle" (click)="second()">2</div>
    <div class="circle" (click)="third()">3</div>
</div>

<p class="text"> 
    THE TERMINOLOGY… <br>
    <span class="header">LAUNCH VEHICLE</span><br>
    A launch vehicle or carrier rocket is a rocket-propelled<br> vehicle used to carry a payload from Earth's surface to<br> space, usually to Earth orbit or beyond. Our WEB-X<br> carrier rocket is the most powerful in operation. Standing<br> 150 metres tall, it's quite an awe-inspiring sight on the<br> launch pad!
</p>

<img src="assets/technology/image-launch-vehicle-portrait.jpg" alt="" class="spaceimg">

<p class="text none"> 
    THE TERMINOLOGY… <br>
    <span class="header">SPACEPORT</span><br>
    A spaceport or cosmodrome is a site for<br> launching (or receiving) spacecraft, by analogy to the seaport for ships<br> or airport for aircraft. Based in the famous Cape<br> Canaveral, our spaceport is ideally situated to take<br> advantage of the Earth’s rotation for launch.
</p>

<img src="assets/technology/image-spaceport-portrait.jpg" alt="" class="spaceimg none">

<p class="text none"> 
    THE TERMINOLOGY… <br>
    <span class="header">SPACE CAPSULE</span><br>
    A space capsule is an often-crewed spacecraft that uses<br> a blunt-body reentry capsule to reenter the Earth's<br> atmosphere without wings. Our capsule is where you'll<br> spend your time during the flight. It includes a space<br> gym, cinema, and plenty of other activities to keep you<br> entertained.
</p>

<img src="assets/technology/image-space-capsule-portrait.jpg" alt="" class="spaceimg none">