<img src="assets/Bitmap.jpg" alt="" class="img1">
<img src="assets/Group 2.jpg" alt="" class="img2">
 
 <hr>

 <div class="wrapper">
    <div>
        
        <p class="para">00 &nbsp;HOME</p>
        
    </div>
    <div>
       
        <p  class="para"  (click)="navigate()"  >01 &nbsp;DESTINATION</p>
    </div>
    <div>
       
        <p  class="para" (click)="crew()">02 &nbsp;CREW</p>
    </div>
    <div>
       
        <p class="para" (click)="tech()">03 &nbsp;TECHNOLOGY</p>
    </div>

    

 </div>
 <hr class="hr2" id="hr2" #hr>
 <img src="assets/Group 16.png" alt="" class="img3">
 <img src="assets/Group.png" alt="" class="img4">